.Container__Background--img-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
}